certifi==2019.6.16
cloudinary==1.12.0
dj-database-url==0.5.0
Django==2.2.2
django-ckeditor==5.5.0
django-heroku==0.3.1
django-rest-framework==0.1.0
djangorestframework==3.10.1
gunicorn==19.9.0
pathlib2==2.1.0
Pillow==6.1.0
psycopg2==2.7.4
psycopg2-binary==2.7.5
Pyrebase==3.0.27
pytz==2019.1
requests==2.22.0
sqlparse==0.3.0
urllib3==1.25.3
virtualenv==16.0.0
whitenoise==3.3.1