/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/*Imports----------------------*/


/*Defaults*/
*{
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

li{
    text-decoration: none;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer !important;
}

body{
    background: linear-gradient(35deg,rgb(255, 249, 249),rgb(255, 255, 255),rgb(250, 250, 250));
    background-repeat: no-repeat;
    cursor: default;
    color: rgba(0,0,0, 0.87);
    background-size: cover;
    font-family: "google-sans-light";
}
/*Defaults-------------------*/


/*ScrollBar*/
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background: rgba(51, 51, 51, 0.5);
}
body::-webkit-scrollbar-track{
    background: rgba(199, 230, 255, 0.445);
}
/*ScrollBar---------------*/


/*NavBar CSS*/
div.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 7em;
    overflow: hidden;
    max-height: 7em;
    z-index: 10;
    min-height: 7em;
    background: rgba(0,0,0,0);
    transition: 0.3s;
    line-height: 7em;
    vertical-align: middle;
}

div.nav-inner{
    width: 95%;
    margin: 0 2.5vw;
}

div.nav-grid{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    height: inherit;
}

img.nav-logo{
    line-height: 5em;
    height: 100px;
    vertical-align: middle;
}

span.nav-logo-text{
    color: rgba(0, 0, 0, 0.692);
    font-weight: 600;
    font-size: 2em;
}

ul.nav_element li, ul.nav_element2 li{
    display: inline-block;
    text-transform: capitalize;
    margin: 0 0.5em;
    font-size: 1em;
}

ul.nav_element2{
    display: none;
}

ul.nav_element2 li{
    float: right;
    text-overflow: ellipsis;
}

ul.nav_element li span,ul.nav_element2 li span{
    padding: 0.5em 1.1em;
}

ul.nav_element li span:hover,ul.nav_element2 li span:hover{
    background: rgba(0,0,0,0.15);
    border-radius: 5px;
}

div.nav-drop-down,div.nav-drop-down2{
    position: fixed;
    top: 5em;
    border-radius: 0 0 10px 10px;
    background: #fff;
    box-shadow: 0 3px 10px 0.5px rgba(0,0,0, 0.5);
    display: none;
    transform: translateX(-1.5em);
    transition: 0.3s;
    padding: 0.5em;
    z-index: 10;
}

div.nav-drop-down2{
    transform: translate(0);
}

div.nav-drop-down li, div.nav-drop-down2 li{
    padding: 0.5em 1.1em;
    font-size: 1em;
    transition: 0.2s;
}

div.nav-drop-down2 li{
    padding-left: 2em;
    padding-right: 2em;
}

div.nav-drop-down li:hover, div.nav-drop-down2 li:hover{
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
}

div.nav-drop-down li:last-child, div.nav-drop-down2 li:last-child{
    margin: 0;
}

#drop_contact2{
    display: none;
}

#drop_login2{
    display: none;
}
/*NavBar CSS ---------*/


/*Mobile Nav Bar*/
.mobile_nav_bar{
    display: none;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
    z-index: 997;
    box-shadow: 0 -3px 10px 0 rgba(0,0,0, 0.5);
    background: #ffffff;
}

.mobile_nav_bar_inner{
    padding: 0.6em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.mobile_nav_elmt{
    /* display: inline-block; */
    font-size: 1.2em;
    /* margin: 0 1em; */
    color: #888;
}

.home-after::after{
    content: "HOME";
    display: block;
    font-size: 0.5em;
}
.event-after::after{
    content: "EVENTS";
    display: block;
    font-size: 0.5em;
}
.team-after::after{
    content: "TEAM";
    display: block;
    font-size: 0.5em;
}
.about-after::after{
    content: "ABOUT";
    display: block;
    font-size: 0.5em;
}
.more-after{
    font-size: 2em;
    z-index: 999;
}

.mobile_nav_bar2{
    height: 0;
    width: 100vw;
    z-index: 1001;
    box-shadow: 0 -3px 10px 0 rgba(0,0,0, 0.5);
    background: #fff;
    position: fixed;
    bottom: 0;
}

.mobile_nav_elmt2{
    display: block;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: #888;
    font-size: 1.4em;
    margin: 1.5em 1em 1em 1.5em;
    box-sizing: border-box;
}
.mobile_nav_elmt2::after{
    content: "";
    display: block;
    height: 3px;
    width: 30px;
    transition: 0.7s;
    background: #888;
}
.mobile_nav_elmt2:hover::after{
    width: 100%;
}

.mobile_nav_elmt3{
    position: fixed;
    z-index: 1002;
    display: none;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0.3em;
    font-size: 2em;
    color: #888888;
}
/*Mobile Nav Bar--------*/


/*Spacing After Main Nav Bar*/
div.spacing-1{height: 1em;}
div.spacing-2{height: 2em;}
div.spacing-3{height: 3em;}
div.spacing-4{height: 4em;}
div.spacing-5{height: 5em;}
div.spacing-6{height: 6em;}
div.spacing-7{height: 7em;}
div.spacing-8{height: 8em;}
div.spacing-9{height: 9em;}
/*Spacing After Main Nav Bar----------------*/


/*Only For BaseNavBar.js File*/
.main_nav_add{
    min-height: 3.7em !important;
    max-height: 3.7em !important;
    line-height: 3.7em !important;
    background: #ffffff !important;
    box-shadow: 0 3px 30px 0.5px rgba(51, 51, 51, 0.589);
}

.nav_drop_add{
    top: 3.7em !important;
}
/*Only For BaseNavBar.js File-----------------*/


/*Animations*/
@keyframes increaseHeight{
    0%{height: 0;}
    100%{height: 100vh;}
}
@keyframes decreaseHeight{
    0%{height: 100vh;}
    100%{height: 0;}
}
/*Animations--------------------*/


/*Media Query*/
/*1400px*/
@media screen and (max-width: 1285px){
    #drop_login2{
        display: block;
    }

    div.nav-grid{
        grid-template-columns: 1fr 1fr;
    }

    #drop_login1{
        display: none;
    }
}

/*1045px*/
@media screen and (max-width: 1045px){
    #drop_contact2{
        display: block;
    }

    #drop_contact1{
        display: none;
    }
}

/*800px*/
@media screen and (max-width: 800px){
    ul.nav_element{
        display: none;
    }

    .mobile_nav_bar{
        display: block;
    }

    .mobile_nav_elmt3{
        display: block;
    }

    ul.nav_element2{
        display: block;
    }
}

/*650px*/
@media screen and (max-width: 650px){
    span.nav-logo-text{
        margin: 0;
    }

    img.nav-logo{
        margin: 0 -1em;
    }
}

/*500px*/
@media screen and (max-width: 510px){
    span.nav-logo-text{
        font-size: 0.95em;
    }
    img.nav-logo{
        height: 75px;
    }    
    ul.nav_element2 li{
        font-size: 0.8em;
    }
    div.nav-drop-down2 li{
        font-size: 0.8em;
    }
}

/*340px*/
@media screen and (max-width: 340px){
    span.nav-logo-text{
        font-size: 0.8em;
    }
    img.nav-logo{
        height: 65px;
        width: 65px;
    }
}
/*Media Query-----------------------*/