.event-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.event-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 1em 0.5em;
    box-shadow: 0 0 3px 0 #aaa;
    border-radius: 5px;
    padding: 1em;
}
.event-image-container{
    width: 100%;
    height: 210px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.events-read-more-container{
    padding: 1em 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.event-see-more{
    padding: 0.5em 1.5em;
    box-shadow: 0 0 3px 0 #999;
    border-radius: 5px;
    width: max-content;
    color: #1a73e8;
    font-family: google-sans-bold;
    margin: 0 auto;
}

.event-see-more-down{
    padding: 0.5em 2em;
    transition: 0.2s;
    border-radius: 10px;
    font-family: google-sans-bold;
    color: #1a73e8;
    box-shadow: 0 0 10px 0 #1a73e8;
}
.event-see-more-down:hover{
    box-shadow: 0 0 5px 0 #1a73e8;
}

@media screen and (max-width: 993px){
    .event-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 780px){
    .event-grid{
        grid-template-columns: 1fr;
    }
}