/*Parallax Effect for hello world banner*/
.parallax-slide {
    height: 100vh;
  }

  .content-slide {
    height: auto;
    padding-bottom: 1.5em;
    background: #fff;
  }
/*Parallax Effect for hello world banner------------------*/


/*Bootstrap Container Concept*/
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }

  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  /*Bootstrap container concept-------------------*/


/*Intro Upper content*/
.intro-tagline{
  font-family: "google-sans-bold";
  color:#555;
}
/*Intro Upper content-----------------*/


  /*Intro header grid*/

  .intro-header-grid{
      display: grid;
      grid-template-columns: auto 1fr;
  }

  .intro-header-grid div:nth-child(1){
    margin: 0 0.4em;
    font-size: 6em;
  }

  /* Intro header grid ---------------------- */

  /*Join Us Button*/
  .join-us {
    background: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 3em;
    position: relative;
    text-transform: capitalize;
    border-radius:6px;
    border:1px solid #5CB85C;
    color: #5CB85C;
    cursor: pointer;
    margin-right: 0.5em;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.2s;
    text-decoration:none;
  }

  .join-us:hover {
    color: rgba(0,0,0,0.25);
    border-color: rgba(0,0,0,0.25);
  }

  .light{
    border-color: #fff;
    color: #fff;
    font-weight: lighter;
  }

  .light:hover {
    border-color: rgba(0,0,0,0);
    color: #5CB85C;
    font-weight: bold;
    background: #fff;
  }
  
  .join-us:active {
    position:relative;
    top:2px;
    background: rgba(0,0,0,0.1);
  }
  
  /*Join Us*/


  /* About Us column*/
  div.about_column{
    height: auto;
    background: linear-gradient(35deg,#4d9c4d,#5cbb5c,#4d9c4d);
    color: #fff;
    font-size: 1.1em;
    font-weight: lighter;
    padding: 3em 0em;
  }

  div.about-social a{
    font-size: 1.7em;
    transition: 0.2s;
    margin-right: 1em;
  }

  div.about-social a:hover{
    color: rgba(255, 255, 255, 0.6);
  }
  /* About Us column*/

 
  /*Media Query*/

  @media screen and (min-width: 600px) and (max-width: 700px) {
    .intro-header-grid div:nth-child(1){
      font-size: 3em;
    }
  }

  @media screen and (max-width: 600px){
    .intro-header-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    .intro-header-grid > div {
      text-align: center;
    }
    .intro-header-grid div:nth-child(1){
      font-size: 4em;
    }
    div.about_column{
      text-align: center;
    }
}

@media screen and (max-width: 415px) {
  .join-us{
    margin-right: 0;
    margin-bottom: 0.5em;
  }
}
/*Media Query*/