
.MainTeamDiv{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.teamMemberDiv{
    margin: 20px;
    margin-bottom: 30px !important;
}

.memberImage{
    overflow: hidden;
    height: 230px;
    width: 230px;
    border-radius: 50% 50% 50% 0;
}

.memberImageInner{
    background: #1a73e8;
}

@media screen and (max-width: 600px){
    .teamMemberDiv{
        margin: 0 1em;
    }
}