
body{
    background: #f2f2f2 !important;
}

h1{
    color: #666;
    margin: 1em 0 0.8em 0.6em;
    font-family: google-sans-bold;
}
h1::after{
    content: "";
    background: #1a73e8;
    height: 3px;
    display: block;
    width: 30px;
    margin-left: 0.3em;
}

.profile-grid{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
}

.left-pane{
    padding: 0.5em;
}

.right-pane{
    padding: 0.5em;
    padding-bottom: 1.5em;
}

.right-pane-inner,.left-pane-inner{
    box-shadow: 2px 2px 10px 0 #aaa;
    border-radius: 7px;
    background: #fff;
    padding: 0.5em;
}

.left-pane-inner{
    display: grid;
    grid-template-columns: 1fr auto;
}

#left-pane-inner-dropdown{
    line-height: 80px;
    vertical-align: middle;
}

.left-pane-inner ul a{
    overflow: hidden !important;
    letter-spacing: 0.02em;
    font-weight: bold;
}

.left-pane-inner ul li{
    margin: 1em 0;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: capitalize;
}

.left-pane-inner ul li:hover{
    background: rgba(0,0,0,0.2);
}

.left-pane-inner ul li i{
    font-size: 1.2em;
}

#mobile-event-container{
    display: none;
}

#desktop-event-container{
    display: block;
}

.passform{
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
}

.prof-grid{
    display: grid;
    grid-template-columns: auto 1fr;
}

.avatar{
    height: auto;
    width: 230px;
    border: 0.3em solid #1a73e8;
    background: #eee;
    margin: 0.5em 1em;
    float: left;
    padding: 0.2em;
    padding-bottom: 0;
    border-radius: 5px;
}

.avatar .img{
    height: auto;
    width: 100%;
    border-radius: 2px;
}

.user-skill-container{
    width: 100%x;
    height: auto;
    padding: 0.2em;
    margin: 0 1em;
}

.user-skill{
    padding: 0.3em 1em;
    font-family: google-sans-bold;
    color: #999;
    margin: 0.4em 0.2em;
    display: inline-flex;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.2s;
    /* border: 0.2em solid #999; */
    box-shadow: 0 0 10px 0 #ccc;
}

.user-skill:hover{
    box-shadow: 0 0 3px 0 #ccc;
}

.label{
    margin: 0.45em 0 0.45em 1em;
    font-family: google-sans-bold;
    font-size: 1.05em;
    color: #666;
}

.input{
    font-size: 1.1em;
    padding: 0.3em 0.5em;
    box-sizing: border-box;
    width: 90%;
    border-radius: 4px;
    background: none;
    border: 1.5px solid #ccc;
    margin: 0 0 1em 1em;
    transition: 0.2s;
}

.textarea{
    color: #333;
    height: 8em;
}

.input::placeholder{
    color: #aaa;
}

.input:focus{
    outline: none;
    border-color: #333;
}


.submit{
    background: #1a73e8;
    cursor: pointer;
    max-width: 300px;
    box-sizing: border-box;
    font-size: 1.1em;
    margin: 0 0 1em 1em;
    text-transform: capitalize;
    font-family: google-sans-bold;
    border: 1px solid #1a73e8;
    padding: 0.5em 2em;
    color: #fff;
    border-radius: 30px;
}

.submit:hover{
    background: #1459b4;
    border-color: #1459b4;
}

.submit:focus{
    outline: none;
}

.submit:active{
    position: relative;
    top: 1px;
}

#left-pane-inner-dropdown{
    display: none;
}

.activeIt{
    display: block !important;
}

@media screen and (max-width: 992px){

    .profile-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    #mobile-event-container{
        display: block;
    }

    #desktop-event-container{
        display: none;
    }

    #left-pane-inner-dropdown{
        display: block;
    }
    
}

@media screen and (max-width: 600px){

    .passform{
        grid-template-columns: 1fr auto;
    }

    .prof-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

}