
.popup {
  background: rgba(100, 100, 100, 0.5);
  position: fixed;
  display: none;
  z-index: 5000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.popup > div {
  max-width: 600px;
  width: 70%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: #FFFFFF;
  padding: 30px;
  z-index: 5001;
  text-align: center;
  border: 5px solid #9AD3DE;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}
.popup1 {
  background: rgba(100, 100, 100, 0.5);
  position: fixed;
  display: none;
  z-index: 5000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.popup1 > div {
  max-width: 600px;
  width: 70%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: #FFFFFF;
  padding: 30px;
  z-index: 5001;
  text-align: center;
  border: 5px solid #9AD3DE;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}
.popup3 {
  background: rgba(100, 100, 100, 0.5);
  position: fixed;
  display: none;
  z-index: 5000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.popup3 > div {
  max-width: 600px;
  width: 70%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: #FFFFFF;
  padding: 30px;
  z-index: 5001;
  text-align: center;
  border: 5px solid #9AD3DE;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}
.popup4 {
  background: rgba(100, 100, 100, 0.5);
  position: fixed;
  display: none;
  z-index: 5000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.popup4 > div {
  max-width: 600px;
  width: 70%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: #FFFFFF;
  padding: 30px;
  z-index: 5001;
  text-align: center;
  border: 5px solid #9AD3DE;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}
.popup5 {
  background: rgba(100, 100, 100, 0.5);
  position: fixed;
  display: none;
  z-index: 5000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.popup5 > div {
  max-width: 600px;
  width: 70%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: #FFFFFF;
  padding: 30px;
  z-index: 5001;
  text-align: center;
  border: 5px solid #9AD3DE;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}
.popup2 {
  background: rgba(100, 100, 100, 0.5);
  position: fixed;
  display: none;
  z-index: 5000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.popup2 > div {
  max-width: 600px;
  width: 70%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: #FFFFFF;
  padding: 30px;
  z-index: 5001;
  text-align: center;
  border: 5px solid #9AD3DE;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}


