{% extends 'base.html' %}


{% block header %}

<style>
/*For Nav Bar Active Element Displaying the current page*/
ul.nav_element span.nav-active2{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
/*For Nav Bar Active Element Displaying the current page----------------*/
</style>

{% endblock %}


{% block content %}

<!--Spacing Block-->
<div class="spacing"></div>
<!--For Spacing after the navbar as it's position is fixed-->
<!--Spacing Block_______________________-->
This is the content
content
<div id="width"></div><button onclick="fun();">See</button>
<script>
const fun = () => {
    document.getElementById("width").innerText = window.innerWidth;
}
</script>
content<Br>content<Br>content<Br>
    content<Br>content<Br>content<Br>content<Br>content<Br>
        content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>
            content<Br>content<Br>content<Br>content<Br>content<Br>
                content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>
                    content<Br>content<Br>content<Br>content<Br>conr>content<Br>content<Br>content<Br>content<Br>
                        content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>
        content<Br>content<Br>content<Br>content<Br>content<Br>
{% endblock %}