<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>


    <!--Meta Blocks-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="title" content="{{meta_title}}" />
    <meta name="description" content="{{meta_description}}" />
    <!--Meta Blocks____________________-->


    <!--Styling-->
    <style>
    @font-face {
        font-family: "google-sans-light";
        src: url("{% static 'assets/google-sans/ProductSans-Light.woff' %}") format("woff");
    }
    @font-face {
        font-family: "google-sans-bold";
        src: url("{% static 'assets/google-sans/ProductSans-Bold.woff' %}") format("woff");
    }
    </style>
    <!--Styling_____________-->


    <!--Links-->
    <link rel="icon" href="{% static 'assets/logo/Logo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/BaseNavBar.css' %}" />
    <!--Links____________________________-->


    <!--Title-->
    <title>{{title}}</title>
    <!--Title___________________________-->


    <!--Scripts-->
    <script src="https://kit.fontawesome.com/b72052645a.js"></script>
    <!--Scripts____________________-->


    <!--Header Block-->
    {% block header %}
    {% endblock %}
    <!--Header Block________________________-->


</head>
<body>


    <!--Nav Bar-->
    <div class="nav" id="main_nav">
        <div class="nav-inner">
            <div class="nav-grid"> 
                <div>
                    <!-- <img src="{% static 'assets/logo/LogoSmall.png' %}" class="nav-logo" id="nav-logo" alt="Hello World LOGO"> -->
                    <!-- <span class="nav-logo-text" id="nav-logo-text"> Hello World</span> -->
                    <span class="nav-logo-text" id="nav-logo-text">&lt; / &gt; Hello World</span>
                    
                </div>   
                <div>
                    <ul class="nav_element2">
                        {% if user.is_authenticated %}
                        <li id="signedIn_more"><a href="#"><span>Hello! Raghav <i class="fas fa-sort-down"></i></span></a></li>
                        {% else %}
                        <li><a href="#"><span>SignIn / SignUp</span></a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav_element" style="float: right;">
                        <li><a href="{% url 'home' %}"><span class="nav-active1">home</span></a></li>
                        <li><a href="{% url 'about' %}"><span class="nav-active2">about</span></a></li>
                        <li id="drop_contact1"><a href="{% url 'contact' %}"><span class="nav-active3">contact</span></a></li>
                        <li id="drop_login1"><a href="#"><span>SignIn / SignUp</span></a></li>
                        <li id="nav_more"><a><span class="nav-active4">more <i class="fas fa-sort-down"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Nav Bar____________________-->
<style>
</style>
    <!--NavBar Drop Down-->
    <div class="nav-drop-down" id="nav_dropdown">
        <a href="{% url 'contact' %}"><li id="drop_contact2">Contact</li></a>
        <a href="#"><li id="drop_login2">SignIn / SignUp</li></a>
        <a href="{% url 'team' %}"><li class="drop-active1">Know Our Team</li></a>
        <a href="{% url 'event' %}"><li class="drop-active2">Upcoming / Past Events</li></a>
    </div>
    <div class="nav-drop-down2" id="nav_dropdown2">
        <a href="{% url 'team' %}"><li>Profile</li></a>
        <a href="{% url 'event' %}"><li>Logout</li></a>
    </div>
    <!--NavBar Drop Down________________________-->


    <!--Mobile Nav Bar-->
    <div class="mobile_nav_bar" id="mobile_nav_bar">
        <div class="mobile_nav_bar_inner">
            <a href="{% url 'home' %}" class="mobile_nav_elmt home-after" title="HOME"><i class="fas fa-home"></i></a>
            <a href="{% url 'about' %}" class="mobile_nav_elmt about-after" title="ABOUT"><i class="fas fa-list-ul"></i></a>
            <a class="mobile_nav_elmt more-after" title="MORE"><i class="fas fa-plus-circle"></i></a>
            <a href="{% url 'team' %}" class="mobile_nav_elmt team-after" title="TEAM"><i class="fas fa-users"></i></a>
            <a href="{% url 'event' %}" class="mobile_nav_elmt event-after" title="EVENT"><i class="fas fa-clipboard-check"></i></a>
        </div>
    </div>
    <div class="mobile_nav_bar2">
        <div class="mobile_nav_bar_inner2">
            <div class="nav-inner">
                <div class="spacing-2"></div>
                    <div class="nav-grid"> 
                        <div>
                            <span class="nav-logo-text">&lt; / &gt; Hello World</span>
                        </div>   
                        <div>
                            <ul class="nav_element2">
                                {% if user.is_authenticated %}
                                <li><a href="#">Hello! <span>Raghav</span></a></li>
                                {% else %}
                                <li><a href="#"><span>SignIn / SignUp</span></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="spacing-2"></div>
                </div>
                
            <div class="container">
                <a href="{% url 'home' %}" class="mobile_nav_elmt2" title="HOME"><i class="fas fa-home"></i> Home</a>
                <a href="{% url 'about' %}" class="mobile_nav_elmt2" title="ABOUT"><i class="fas fa-list-ul"></i> About</a>
                <a href="{% url 'contact' %}" class="mobile_nav_elmt2" title="CONTACT"><i class="fas fa-user"></i> Contact</a>
                <a href="#" class="mobile_nav_elmt2" title="SIGNIN/SIGNUP"><i class="fas fa-sign-in-alt"></i> SignIn / SignUp</a>
                <a href="{% url 'team' %}" class="mobile_nav_elmt2" title="TEAM"><i class="fas fa-users"></i> Team</a>
                <a href="{% url 'event' %}" class="mobile_nav_elmt2" title="EVENTS"><i class="fas fa-clipboard-check"></i> Upcoming / Past Events</a>
            </div>
        </div>
    </div>
    <a class="mobile_nav_elmt3" onclick="openMobileNav();"><i class="fas fa-plus-circle" id="fa-plus-circle"></i></a>
    <!--Mobile Nav Bar___________________________-->


    <!--Content block-->
    {% block content %}
    {% endblock %}
    <!--Content block_____________________-->


    <!--Footer-->
    <footer>
        <div class="container">
            <h3 style="letter-spacing: 0.15em;display: inline-block;color: #888;">Follow Us: </h3> 
            <br class="next-line">
            <br class="next-line">
            <span>
                <a href="" title="FACEBOOK | HELLO WORLD"><i style="color: #3b5998;" class="fab fa-facebook"></i></a>
                <a href="" title="TWITTER | HELLO WORLD"><i style="color: #38A1F3;" class="fab fa-twitter"></i></a>
                <a href="" title="MEETUP | HELLO WORLD"><i style="color: #e51937;" class="fab fa-meetup"></i></a>
                <a href="" title="GOOGLE PLUS | HELLO WORLD"><i style="color: #CC3333;" class="fab fa-google-plus"></i></a>
                <a href="" title="INSTAGRAM | HELLO WORLD"><i style="color: #8a3ab9;" class="fab fa-instagram"></i></a>
            </span>
            <div class="spacing-1"></div>
            <hr/>
            <div class="spacing-1"></div>
            <h1>Footer Section</h1>
            <div class="spacing-1"></div>
            <center>
                <hr width="75%"/>
                <div class="spacing-1"></div>
                <span style="color: #888;font-size: 0.8em;">
                &copy; Hello World 2019. All Rights Reserved.
                <br class="next-line2">
                <br class="next-line2">
                <br class="next-line2">
                <br class="next-line2">
                </span>
            </center>
            <div class="spacing-1"></div>
        </div>
    </footer>
    <!--Footer_______________________-->


    <!--Scripts-->
    <script type="text/javascript" src="{% static 'js/BaseNavBar.js' %}"></script>
    <script>
    //Nav Drop Down 2 Login/SignUp Mobile View
    //{% if user.is_authenticated %}
    const signedIn_more = document.getElementById("signedIn_more");
    const nav_dropdown2 = document.getElementById("nav_dropdown2");
    signedIn_more.onmouseover = () => {
        posX = signedIn_more.offsetLeft;
        nav_dropdown2.style.left = `${posX}px`;
        nav_dropdown2.style.display = 'block';    
    }

    signedIn_more.onmouseout = () => {
        nav_dropdown2.style.display = 'none';
    }

    nav_dropdown2.onmouseover = () => {
        nav_dropdown2.style.display = 'block';
    }

    nav_dropdown2.onmouseout = () => {
        nav_dropdown2.style.display = 'none';
    }
    //{% else %}
    //{% endif %}

    //Nav Drop Down 2 Login/SignUp Mobile View
    </script>
    <!--Scripts_______________________-->


    <!--Scripts Block-->
    {% block script %}
    {% endblock %}
    <!--Scripts Block_________________-->
</body>
</html>