{% extends 'user.html' %}

{% block right_pane %}

<style>

    .left-active3{
        background: rgba(0,0,0,0.1);
    }

    @media screen and (max-width: 992px){
        .left-active2,.left-active1,.left-active6,.left-active4,.left-active5,.left-active7{
            display: none;
        }
    }

</style>

<h1>Change <span style="color:#1a73e8">Password</span></h1>

<form method="POST" action="">
    <div class="passform">
        <div>
            <div class="label">Enter Your Current Password</div>
            <input type="password" class="input" name="cur_pass" placeholder="Current Password" />

            <div class="label">Choose a New Password</div>
            <input type="password" class="input" name="new_pass" placeholder="New Password" />

            <div class="label">Confirm Your New Password</div>
            <input type="password" class="input" name="conf_pass" placeholder="Confirm Password" />
        </div>
        <div></div>
    </div>

        <label style="color: red">{{ err }}</label>
        <Br>

        <!-- <input type="submit" class="submit" value="Change Password"/> -->
        <a class="submit" onclick="alert(`Sorry, You can't change your password now.`);">Change Password</a>
        <br class="next-line2"><br class="next-line2"><br class="next-line2">

        <a href="{% url 'profile' %}" class="submit" style="background: #fff;color: #1a73e8;">Cancel</a>

        <br><br>

</form>

{% endblock %}