{% extends 'base.html' %}
{% load staticfiles %}


{% block header %}

<style>
/*For Nav Bar Active Element Displaying the current page*/
.page-header{
    --headerBack: url("{% static 'assets/background/conduct.jpg' %}");
}
/*For Nav Bar Active Element Displaying the current page----------------*/

</style>

{% endblock %}


{% block content %}

<!--Spacing Block-->
<div class="spacing-7"></div>
<!--For Spacing after the navbar as it's position is fixed-->
<!--Spacing Block_______________________-->

<div class="page-header">
    <div class="page-header-inner">
         Code Of Conduct
    </div>
</div>

<div class="container">
    <div class="page-heading">
        Code of <span style="color: #1a73e8;">Conduct</span>
    </div>
    <h2 style="font-weight: 500;color: #666;margin: 0.5em 0;margin-top: 1.5em;">What you need <span style="font-family: google-sans-bold;"> to keep in mind</span></h2>

    <style>

    /**/
    .points{
        margin: 0.5em 0;
        font-size: 1.3em;
        list-style-type: disc;
    }

    .points li{
        margin: 0.4em 0.7em;
        font-size: 0.85em;
        list-style-type: disc;
    }

    .para{
        margin: 0.5em 0;
        margin-top: 1.5em;
        font-size: 1.1em;
        letter-spacing: 0.05em;
    }

    /**/

    </style>


    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #1a73e8;font-family: google-sans-bold;">Message From The President</span>
        <p><Br>
            Doing things right is one of the most important values at HelloWorld. We work hard every day to provide knowledge that can enhance the lives of students in our community, our country, and all over the world.<Br>
            We are clear about what we mean, when we talk about doing things right. Not only does it mean that we create amazing lectures which are free for all and of exceptional quality, but it also means that every step we take in making those products is taken with ethics and integrity in mind. <Br>
            Doing things right is not an option at HelloWorld. Joining our team means making a commitment to uphold our values and following the code of conduct outlined in this document. Thank you for upholding our values and helping us to be the best Society.<br><BR>
            <b>Siddhath Narula</b><br>
            President<br>
            HelloWorld<br><Br>
        </p>
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Introduction</span>
        <p>
            The Following Code of Conduct is for every core-member of society every new member who joins us in the core team and everyone who work with us by doing projects attending classes or in any other way
        </p>
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Ethical Principles and Core Values</span>

        <ul class="points">
            <li>1.) Honesty </li>
            <li>2.) Integrity </li>
            <li>3.) Trustworthiness </li>
            <li>4.) Respect For Others </li>
            <li>5.) Responsibility </li>
            <li>6.) Accountability </li>
            <li>7.) Obedience to the rules </li>
            <li>8.) Empathy </li>
            <li>9.) TeamWork </li>
            <li>10.) Commitment to the code </li>
        </ul>
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Decision Making and the Code of Conduct</span>
        <p>
            When making a decision, ask yourself the following:
        </p>
        <ul class="points">
            <li>1.) Is it good for students? </li>
            <li>2.) Does it comply with society's laws? </li>
            <li>3.) Does it reflect values and ethics? </li>
            <li>4.) Does it respect the rights of others? </li>
            <li>5.) If you are unsure about any of the answers, ask.</li>
        </ul>
        <p>
            Then ask the group for suggestions and take permission of any Mentor or majority to confirm it
        </p>
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Reporting/Speaking Up</span>
        <p>
            The society encourages all its members to ask questions and raise issues without fear of anything that you feel and it is committed to treating reports seriously and investigating them thoroughly.<br>
            Members must report suspected unethical, illegal or suspicious behavior of anyone, including the President immediately. The society does not tolerate retaliation against anyone who makes a good faith report of suspected misconduct or otherwise assists with an investigation or audit.<BR>
            To report a concern:
        </p>
        <ul class="points">
            <li>1.) Talk to any member</li>
            <li>2.) Contact a senior member</li>
            <li>3.) Contact the Mentors</li>
            <li>4.) Contact the President</li>
            <li>5.) Make a confidential and/or anonymous report online on whatsapp</li>
        </ul>         
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">No Retaliation</span>
        <p>
            Members who report a concern in good faith cannot be subjected to any adverse action including:                      
        </p>
        <ul class="points">
            <li>1.) Unfair dismissal</li>
            <li>2.) Unfair denial of a promotion </li>
            <li>3.) Bullying and harassment, either in person or online</li>
            <li>4.) Exclusionary behavior</li>
            <li>5.) Any other behavior that singles out the person unfairly</li>
        </ul>         
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Equal Opportunity</span>
        <p>
            We will not tolerate discrimination based on race, color, religion, gender, age, national origin, sexual orientation, marital status, disability or any other protected class.
        </p>      
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Harassment</span>
        <p>
                Treat all fellow Seniors, Juniors and members with dignity and respect at all times we are a family here.<Br>
                Any type of harassment, including physical, sexual, verbal or other, is prohibited and can result in disciplinary action up to, and including, termination.<BR>
                Harassment can include actions, language, written words or objects that create an intimidating or hostile work environment, such as:<BR>
                                        
        </p>
        <ul class="points">
            <li>1.) Yelling at or humiliating someone</li>
            <li>2.) Physical violence or intimidation </li>
            <li>3.) Unwanted invitations or comments</li>
            <li>4.) Visual displays such as derogatory or sexually-oriented pictures or gestures</li>
            <li>5.) Physical conduct including assault or unwanted touching</li>
        </ul>         
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Bullying</span>
        <p>
            We are committed to ensuring that our core team and our members work in safe and respectful environment that is free of bullying.
            <br> 
            Bullying can include:                        
        </p>
        <ul class="points">
            <li>1.) Spreading malicious rumor or gossip.</li>
            <li>2.) Excluding or isolating someone socially </li>
            <li>3.) Establishing impossible deliverables</li>
            <li>4.) Withholding necessary information or purposefully giving the wrong information</li>
            <li>5.) Intimidating someone</li>
            <li>6.) Impeding someone’s work</li>
            <li>7.) Unfairly denying training, leave or promotion</li>
            <li>8.) Constantly changing work guidelines</li>
            <li>9.) Sending offensive jokes or messages</li>
            <li>10.) Criticizing or belittling someone constantly</li>
            <li>11.) Tampering with a person's personal belongings or work equipment</li>
        </ul>         
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Conflicts of Interest</span>
        <p>
                A conflict of interest can occur when a member’s personal activities, investments or internships or ability to act in the best interests. Members should avoid the types of situations that can give rise to conflicts of interest.<Br>
                It’s important for members to disclose any relationships with anyone of the opposite or same gender, associations or activities with other societies, clearly we encourage you to be in all the societies if you can manage them, but it is required to tell you are part of which of them so to avoid conflict of interest.
        </p>      
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">External Communication on Behalf of the Society</span>
        <p>
            Each member has the right to communicate with whomsoever they think they should, but should refer all requests for information or interviews to the Team.<br>
            Interviews cannot be conducted by one person the complete team should be present.
                         
        </p>      
    </div>

     <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Privacy</span>
        <p>
                The society complies with the requirements of the country’s and international privacy laws. All members should agree to an agreement that contains provisions for information confidentiality and non-disclosure<br>
                The society and its members do not disclose any private, personal information of:                        
        </p>
        <ul class="points">
            <li>1.) Members</li>
            <li>2.) Students</li>
            <li>3.) Events</li>
            <li>4.) Funds</li>
            <li>4.) Future Plans</li>
        </ul>     
        
        <p>
            We all should store all personal information securely, mark it as confidential and store it only for as long as it is needed for the purpose for which is was collected.<Br>
            When providing personal information, there should be limit access for the students only those with a clears need for the information should be given by the same person whose information is given.<Br>
            Example: If contact number of X is given then only X has right to give it<Br>
            Members are required to report any breaches of privacy, including the loss, theft of or unauthorized access to personal information, to the Society.<BR>
        </p>
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Competition, Fair Dealings and Lack of trust</span>
        <p>
            While the societies compete aggressively for new recruits, bringing new skills but reputation is built upon trust so while any speech or talking nothing should be said about them let the student analyze which is better out there.<Br>
            Members are required to:                          
        </p>
        <ul class="points">
            <li>1.) Communicate the societies task and services in a manner that is fair and accurate, and that discloses all relevant information</li>
            <li>2.) Consult a Core Member before engaging in any new practice </li>
            <li>3.) Should never ask for money from students or from the society for what they have done and should not indulge in any other anti-competitive activities</li>
            <li>4.) Advise the society immediately of possible violations of fair competition practices by our members or by other societies</li>
        </ul>         
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Gifts and Entertainment</span>

        <p>
                While gifts and entertainment among can be appropriate ways to strengthen ties and build goodwill, they also have the potential to create the perception that decisions are influenced by them. The society is committed to winning hearts only on the merits of its members, services and events.<br>
                Members are to:
                <ul class="points">
                    <li>1.) Use sound judgment and comply with the law, regarding gifts and other benefits</li>
                    <li>2.) Never allow gifts, entertainment or other personal benefits to influence decisions or undermine the integrity </li>
                    <li>3.) Never accept gifts or entertainment that are illegal, immoral or would reflect negatively on the society</li>
                    <li>4.) Never accept cash, cash equivalents, stocks or other securities</li>
                    <li>5.) Use sound judgment and comply with the law, regarding gifts and other benefits</li>
                    <li>6.) Use sound judgment and comply with the law, regarding gifts and other benefits</li>
                </ul>              
        </p>
        <p>
                Members may accept occasional personal gifts of nominal value.<br>
                Entertainment is allowed unless it doesn’t hurt sentiments of anyone.<br>
                When in doubt, everyone should check with the ethics and compliance officer before giving or receiving anything of value.<Br>
                
        </p>
                
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Charitable Contributions</span>

        <p>
                The society may make charitable contributions to causes and organizations that are not politically affiliated or to anyone in serious need.<br>
                But the final decision to contribute lies in the hands of the society so majority will play a role to decide.                            
        </p>
                
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Record Keeping</span>

        <p>
                All documents, databases, voice messages, mobile device messages, computer documents, files and photos are records.<br>
                Members are required to:
                <ul class="points">
                    <li>1.) maintain these records and protect their integrity for as long as required</li>
                    <li>2.) maintain official record keeping systems to retain and file records required for signatures ,to show to authorities, to prove a point in an argument</li>
                </ul>              
        </p>
                
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Protection and Proper Use of Assets</span>

        <p>
            The biggest asset that the society has are you all the Team nothing is more than the brains and knowledge you all have combining it together we can defeat even Trump.<br>
            The society requires all members to protect yourself. <br>
            Other assets include facilities, equipment, funds and goodies.<br>
            Suspected incidents of fraud, theft, negligence, and waste should be reported to the President.<br>
    
        </p>
                
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Health Family and Safety</span>

        <p>
            Your Family is your priority we will be there with you for 4 years only but your family is with you life time.<Br>
            Health is really important kindly look after that too.<Br>
            If any work is causing issues with your family not able to give family time and is affecting your health that should be told to any member and should be stopped immediately. <BR>
            All members are expected to perform their work in compliance with applicable health and safety laws and apply safe work practices at all times in all locations.<br>
            Members are required to immediately report injuries, illnesses or unsafe conditions.<Br>
    
        </p>
                
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Environment</span>

        <p>The society is committed to operating in an environmentally responsible manner, from the provision of equipment’s and services to conducting activities.
            <Br>The society complies with all applicable environmental laws and regulations 
            </p>
                
    </div>

    <div>
        <span style="font-size: 1.3em;color: #555;font-family: google-sans-bold;">Use of Social Media</span><Br>
        <i class="fas fa-circle-notch" style="font-size: 0.75em;"></i> The society respects the right of members to use social media for personal and professional purposes.<br>
        <i class="fas fa-circle-notch" style="font-size: 0.75em;"></i> Members are responsible for complying with the policies and procedures when communicating on social media. Members are accountable for any information they publish online.<br>
        <i class="fas fa-circle-notch" style="font-size: 0.75em;"></i> Share confidential information about the society, its events, resources or future plans.<br>
        <i class="fas fa-circle-notch" style="font-size: 0.75em;"></i> Post comments or pictures that could harm the reputation or is unethical.<Br>
        <i class="fas fa-circle-notch" style="font-size: 0.75em;"></i> Members are required to:
        <ul class="points">
            <li>1.) Not post anything against any community on society pages</li>
            <li>2.) Respect others no one to allow to leave groups or to kick someone from groups</li>
            <li>3.) Ensure any information posted about the events or future activities on students group is correct and well communicated with the members and proper permissions are taken by the authorities</li>
            <li>4.) Comply with the rules of the social media sites they use.</li>
        </ul>
    </div>

    <div>
        <span style="font-size: 1.3em;color: #555;font-family: google-sans-bold;">Members must not:</span>
        <br>
            <span style="font-size: 1.1em;">
                <i class="fas fa-circle-notch" style="font-size: 0.75em;"></i> “Pretext”, or pretend to be someone they are not.<br>
                <i class="fas fa-circle-notch" style="font-size: 0.75em;"></i> Speak on behalf of the society if they are not expressly authorized to do so.<Br>
                <i class="fas fa-circle-notch" style="font-size: 0.75em;"></i> Share confidential information about the society, its events, resources or future plans.<BR>
                <i class="fas fa-circle-notch" style="font-size: 0.75em;"></i> Post comments or pictures that could harm the reputation or is unethical.<BR>
            </span>
        </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Meetings</span>

        <p>Everyone should be a part of meetings that are conducted as your views are key for society development</p> 
        <p>Valid reasons and problems are accepted</p>
        <p>Anyone who misses 2 consecutive meetings should be fined 100Rs.</p>
        <p>If a member had paid 500Rs, then that member will be removed from the society</p>
    </div>

    <div class="para">
        <span style="font-size: 1.3em;font-family: google;color: #555;font-family: google-sans-bold;">Work</span>

        <p>Every member of the society is here because you are the best. We know that you know that let the people also know that, so every member has to work hard and should understand their responsibilities as a member of the society</p>
        <p>Deadlines are not meant to be broken with lame excuses unless some emergency occurs kindly inform a senior member or the society as soon as possible.</p>
        <p>If someone is found that is not working properly or is not completing the deadlines or giving false or lame excuses then he/she must be fined between 50-200 depending on the crime.</p>
                
    </div>

    <div>
        
        <span style="font-size: 1.3em;color: #555;font-family: google-sans-bold;">Code of Conduct Acknowledgement</span>
        <ul class="points">

            <li>1.) You have read the entire code of conduct and understand your responsibilities related to it.</li>
            <li>2.) You have had the opportunity to ask questions to clarify any unclear aspects of the code.</li>
            <li>3.) You agree to abide by its principles.</li>
            <li>4.) You agree to report to the society any violations of the code.</li>
            <li>5.) You agree to cooperate in any investigations of violations of the code.</li>
        </ul>
    </div>

    <div class="spacing-3"></div>
</div>
{% endblock %}