{% extends 'base.html' %}
{% load staticfiles %}


{% block header %}

<style>
/*For Nav Bar Active Element Displaying the current page*/
ul.nav_element span.nav-active3{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.more-after{
    color: #000 !important;
}
#drop_contact2{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
@media screen and (max-width: 1045px){
    ul.nav_element span.nav-active4{
        background: rgba(0, 0, 0, 0.06);
        border-radius: 5px;
    }
}

.about-after{
    color: #000 !important;
}

.page-header{
    --headerBack: url("{% static 'assets/background/contact-back.png' %}");
}

/*For Nav Bar Active Element Displaying the current page----------------*/
</style>

{% endblock %}


{% block content %}

<!--Spacing Block-->
<div class="spacing-7"></div>
<!--For Spacing after the navbar as it's position is fixed-->


<!---->
<div class="page-header">
    <div class="page-header-inner">
        CONTACT
    </div>
</div>
<!---->


<!--Spacing Block_______________________-->
<div class="container">
    <div class="spacing-4"></div>
    <h1>Get In Touch With Us</h1>
    <div class="spacing-3"> </div>
</div>
{% endblock %}