{% extends 'user.html' %}
{% load static %}
{% load filter_tag %}

{% block right_pane %}

<style>

    .left-active2{
        background: rgba(0,0,0,0.1);
    }

    @media screen and (max-width: 992px){
        .left-active1,.left-active3,.left-active6,.left-active4,.left-active5,.left-active7{
            display: none;
        }
    }

</style>



<h1>Edit Your <span style="color:#1a73e8">Profile</span></h1>
    
    <form method="POST" action="{% url 'uploadImage' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="label">Upload or Update Your Profile Picture</div>
        <div class="avatar" style="float: none;">
            <img src="{{ profilePic }}" onError="imageReplace(this);" class="img" alt="{{ username }} | Avatar" />
            <Br>
        </div>
        <Br>
        <div>
            <div class="label">Upload New Image:</div>
            <input class="input" style="margin-bottom: 0.2em;" type="file" value="{{ profilePic }}" name="uploadFromPC" id="uploadFromPC" accept="image/*" />
            <input class="submit" style="font-size: 0.85em;" type="submit" value="Upload image" />
            <Br><Br>
        </div>
    </form>
    <form method="POST" action="{% url 'edit' %}">
            <span style="margin: 0.2em 1em;font-weight: bold;color: #888;">
                
                Username - <span style="color: #333;"> {{ request.user.username }} </span>
            </span>
            <Br>
            <span style="margin: 0.2em 1em;font-weight: bold;color: #1a73e8;">            
                {{ designation }}
                <Br><br>
            </span>
            

            <div class="label">Your First Name</div>
            <input type="text" class="input" value="{{ request.user.first_name }}" name="first_name" placeholder="First Name, e.g - Raghav"/>

            <div class="label">Your Last Name</div>
            <input type="text" class="input" value="{{ request.user.last_name|lastname }}" name="last_name" placeholder="Last Name, e.g - Dhingra"/>

            <div class="label">Your E-Mail ID <span style="color: #ff0000;font-family: google-sans-light">(You are not allowed to change your email address)</span></div>
            <input type="email" class="input" value="{{ email }}" name="email" placeholder="E-Mail e.g - example@mail.com" readonly/>
            
            
            <div class="label">Your Mobile Number</div>
            <input type="number" class="input" value="{{ contact.phone }}" name="phone" max="9999999999" min="6000000000" placeholder="Mobile Number e.g - 9876543210"/>
            <Br><bR>


    <div>
        <div class="label">Your College/University</div>
        <input type="text" class="input" value="{{ college }}" name="college"/>
    </div>

    <div>
        <div class="label">You're Currently Pursuing</div>
        <input type="text" class="input" value="{{ degree }}" name="degree"/>
    </div>

    <div>
        <div class="label">Your Year Of Passing</div>
        <input type="number" class="input" value="{{ passing_year }}" name="pass_year" min="1900" max="2050"/>
    </div>
    
    <div>
        <div class="label">Your Skills <span style="color: #1a73e8">(Please seperate your skills by Commas - , )</span> </div>

        <div class="user-skill-container">
            <textarea class="input textarea" name="skill" placeholder="Skills e.g - JavaScript, ReactJs...">{{skills}}</textarea>
        </div>

    </div>
    <Br>

    <div>
        <div class="label">Your Date Of Birth</div>
        <input type="date" class="input" value="{{ birth }}" name="birth"/>
    </div>

    <div>
        <div class="label">Your Field of Interest</div>
        <!-- <input type="text" class="input" value="{{ interest }}" name="interest" placeholder="Interested Fields e.g - Web Development"/> -->
        <select class="input" id="interest" name="interest">
            
        </select>
        <div id="otherInterest">
        </div>
    </div>

    <div>
        <div class="label">Designation In HelloWorld Team <span style="color: #f00;font-family: google-sans-light">(Designation is decided by the Head of the Society)</span></div>
        <input type="text" class="input" value="{{ designation }}" name="designation" placeholder="Designation e.g - Co-ordinator, Head..." readonly/>
    </div>

    <div>
        <div class="label">Tell us Something about You</div>
        <textarea class="input textarea" placeholder="Description e.g - I am a Web Developer..." name="description">{{description}}</textarea>
    </div>


    <center><hr style="width: 75%;"></center>
    <Br>
    <div>
        <div style="margin-left: 0.8em;font-size: 1.5em; font-weight: bold;color: #666;">Social and Other Links</div>

        <Br>
        <label style="margin-left: 1em;font-weight: bold;">Facebook:</label><Br>
        <textarea style="font-size: 0.9em;width: 80%; height: 4em;" class="input textarea" name="facebook" placeholder="Facebook Link">{{links.facebook}}</textarea>
        <!-- <input type="text" style="font-size: 0.9em;width: 80%;" class="input" value="{{ links.facebook }}" placeholder="Facebook Link" readonly/> -->
        
        <Br>
        <label style="margin-left: 1em;font-weight: bold;">Twitter:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><Br>
        <textarea style="font-size: 0.9em;width: 80%; height: 4em;" class="input textarea" name="twitter" placeholder="Twitter Link">{{links.twitter}}</textarea>
        <!-- <input type="text" style="font-size: 0.9em;width: 80%;" class="input" value="{{ links.twitter }}" placeholder="Twitter Link" readonly/> -->
            
        <Br>
        <label style="margin-left: 1em;font-weight: bold;">Github:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><Br>
        <textarea style="font-size: 0.9em;width: 80%; height: 4em;" class="input textarea" name="github" placeholder="Github Link">{{links.github}}</textarea>
            
    </div>

    <br><Br>

    <input type="submit" class="submit" value="Save Changes" />

    <a href="{% url 'profile' %}" class="submit" style="background: #fff;color: #1a73e8;">Cancel</a>

    <Br><Br><br>

</form>


<script>


const FieldOfInsterst = [
    "|0",
    "APIs Management|1",
    "Advertising|2",
    "Android Development|3",
    "Application Development|4",
    "Competitive Programming|5",
    "Content Writing|6",
    "Cyber-Security|7",
    "Data Science|8",
    "Gaming|9",
    "IOS Development|10",
    "Machine Learning|11",
    "Marketing|12",
    "Networking|13",
    "Open Source Development|14",
    "Speaking Skill|15",
    "Web Development|16",
    "OTHER - Specify|17"
]

const interest = document.getElementById('interest');
window.onload = () => {
    for (var i=0;i<FieldOfInsterst.length;i++){
        field = FieldOfInsterst[i];
        option = document.createElement('option');
        option.value = field;
        field_arr = field.split('|');
        option.innerText = field_arr[0];
        option.id = `option${field_arr[1]}`;
        interest.appendChild(option); 
    }
    interest.selectedIndex = "{{selectedIndex}}";
    if (interest.value == "OTHER - Specify|17"){
        document.getElementById('otherInterest').innerHTML = `<input type="text" placeholder="Specify Your Interest" value="{{otherInterest}}" class="input" name="otherInterest" required/>`;
    }
}



// var option17 = document.getElementById('option17');
interest.onchange = () => {
    if (interest.value == "OTHER - Specify|17"){
        document.getElementById('otherInterest').innerHTML = `<input type="text" placeholder="Specify Your Interest" value="{{otherInterest}}" class="input" name="otherInterest" required/>`;
    }
    else{
        document.getElementById('otherInterest').innerHTML = ``;
    }
}

</script>

{% endblock %}

