{% extends 'base.html' %}
{% load staticfiles %}


{% block header %}

<style>
/*For Nav Bar Active Element Displaying the current page*/
ul.nav_element span.nav-active4{
    background: rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.event-after{
    color: #000 !important;
}
div.nav-drop-down li.drop-active2{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.about-after{
    color: #000 !important;
}

.page-header{
    --headerBack: url("{% static 'assets/background/event-back.png' %}");
}
/*For Nav Bar Active Element Displaying the current page----------------*/
</style>

{% endblock %}


{% block content %}

<!--Spacing Block-->
<div class="spacing-7"></div>
<!--For Spacing after the navbar as it's position is fixed-->


<!---->
<div class="page-header">
    <div class="page-header-inner">
        UPCOMING OR PAST EVENTS
    </div>
</div>
<!---->


<!--Spacing Block_______________________-->
<div class="container">
    
    <div class="page-heading">
        UpComming <span style="color: #1a73e8;">Events</span>
    </div>

    <div class="spacing-4"> </div>
</div>
{% endblock %}