{% extends 'base.html' %}
{% load static %}


{% block header %}

<style>
/*For Nav Bar Active Element Displaying the current page*/
ul.nav_element span.nav-active4{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
div.nav-drop-down li.drop-active3{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.about-after{
    color: #000 !important;
}

.page-header{
    --headerBack: url("{% static 'assets/background/gallery-back.jpg' %}");
}
/*For Nav Bar Active Element Displaying the current page----------------*/


.gallery-grid{
    text-align: center;
}

.gallery-grid div{
    display: inline-flex;
    width: 300px;
    height: auto;
    padding: 0.2em;
    margin: 0.5em;
    border-radius: 5px;
    border: 0.2em solid #ddd;
}

</style>

{% endblock %}

{% block content %}
<!--Spacing Block-->
<div class="spacing-7"></div>
<!--For Spacing after the navbar as it's position is fixed-->
<!--Spacing Block_______________________-->

<div class="page-header">
    <div class="page-header-inner">
         GALLERY
    </div>
</div>

<div class="container">
    <center>
        <div class="page-heading">
            Our <span style="color: #1a73e8;">Gallery</span>
        </div>
    </center>

    <div class="gallery-grid">
        {% for image in Images %}
        <div>
            <img src="{{image}}" width="100%" alt="Gallery Images" />
        </div>
        {% endfor %}
    </div>

</div>
<Br><br><br>

{% endblock %}