{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}

<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<style>
/*For Nav Bar Active Element Displaying the current page----------------*/
ul.nav_element span.nav-active1{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
/*For Nav Bar Active Element Displaying the current page----------------*/
</style>

{% endblock %}


{% block content %}

<!--Spacing Block-->
<div class="spacing"></div>
<!--For Spacing after the navbar as it's position is fixed-->
<!--Spacing Block_______________________-->

<div class="container">
    

    content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>
        content<Br>content<Br>content<Br>content<Br>content<Br>
            content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>
                content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>
                    content<Br>content
                        </div>
<!--Parallax content-->
<style>
#parallax1 {
    height: 30em;
    background: url("{% static 'assets/background/Background.jpg' %}") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
@media screen and (max-width: 460px){
    #parallax1{
        height: 25em;
        background: url("{% static 'assets/background/Background-mob.jpg' %}") no-repeat center;
        background-attachment: fixed;
        background-size: cover;
    }
}
</style>
<div id="parallax1" class="parallax-slide"></div>
  <div id="content1" class="content-slide">
    <h1>Content</h1>
  </div>
<!--Parallax content_______________________-->

{% endblock %}


{% block script %}
<script src="{% static 'js/home.js' %}" type="text/javascript"></script>
{% endblock %}