{% extends 'base.html' %}


{% block header %}

<style>
/*For Nav Bar Active Element Displaying the current page----------------*/
ul.nav_element span.nav-active1{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
/*For Nav Bar Active Element Displaying the current page----------------*/
</style>

{% endblock %}


{% block content %}

<!--Spacing Block-->
<div class="spacing"></div>
<!--For Spacing after the navbar as it's position is fixed-->
<!--Spacing Block_______________________-->
This is the content
content<Br><Br>
<div><span id="width"></span></div><button onclick="fun();">See Your Device width</button>
<Br><Br>
<script>
const fun = () => {
    document.getElementById("width").innerText = `${window.innerWidth}px`;
}
</script>
<br>
Font Used: "Open Sans"<Br>
<Br>
    content<Br>content<Br>content<Br>content<Br>content<Br>
        content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>
            content<Br>content<Br>content<Br>content<Br>content<Br>
                content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>
                    content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>
                        content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>
        content<Br>content<Br>content<Br>content<Br>content<Br><Br><Br><Br>
{% endblock %}