{% extends 'user.html' %}

{% block right_pane %}

<style>

    .left-active4{
        background: rgba(0,0,0,0.1);
    }

    @media screen and (max-width: 992px){
        .left-active2,.left-active3,.left-active1,.left-active5{
            display: none;
        }
    }

</style>

<h1>Build <span style="color:#1a73e8">Resume</span></h1>

<center>
    <h2>Comming soon</h2>
    <h4>Our Team is working hard to give you the power to build you resume.</h4>
</center>


{% endblock %}