{% extends 'base.html' %}
{% load staticfiles %}


{% block header %}
<style>
/*For Nav Bar Active Element Displaying the current page*/

ul.nav_element span.nav-active4{
    background: rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.team-after{
    color: #000 !important;
}

div.nav-drop-down li.drop-active1{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.about-after{
    color: #000 !important;
}

.page-header{
    --headerBack: url("{% static 'assets/background/team-back.png' %}");
}

/*For Nav Bar Active Element Displaying the current page----------------*/
</style>

<link href="{% static 'css/team.css' %}" rel="stylesheet" />

{% endblock %}


{% block content %}

<!--Spacing Block-->
<div class="spacing-7"></div>
<!--For Spacing after the navbar as it's position is fixed-->


<!---->
<div class="page-header">
    <div class="page-header-inner">
        KNOW OUR TEAM
    </div>
</div>
<!---->


<!--Spacing Block_______________________-->
<div class="container">
    
    <div class="page-heading">
        Our Precious <span style="color: #1a73e8;">Team</span>
    </div>


    <center><span style="color: #666;font-size:2em;color: #1a73e8;font-family: google-sans-bold;">LEAD</span></center>
    <Br>
    <div class="MainTeamDiv">
        {% for lead in teamMember %}
        {% if lead.authorised == True %}
        {% if lead.designation == "Society Lead" %}
        <div class="teamMemberDiv">
            <div class="memberImage">
                <div class="memberImageInner">
                    <img src="{{lead.profile_picture.url}}" style="border-radius: 50%;" width="100%" alt="Society Lead" />
                </div>
            </div>
            <br>
            <span style="font-family: google-sans-bold;font-size: 1.3em;color: #666;"> {{ lead.first_name }} {{ lead.last_name }} </span><Br>
            <span style="font-size: 1.1em;color: #1a73e8;font-family: google-sans-bold;"> Society Lead </span>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>


    <div class="spacing-4"></div>
    
    
    <center><span style="color: #666;font-size:2em;color: #1a73e8;font-family: google-sans-bold;">Department Leads / Mentors</span></center>
    <Br>
    <div class="MainTeamDiv">
        {% for lead in teamMember %}
        {% if lead.authorised == True %}

        {% if lead.designation == "Web Lead" %}
        <div class="teamMemberDiv">
            <div class="memberImage">
                <div class="memberImageInner">
                    <img src="{{lead.profile_picture.url}}" style="border-radius: 50%;" width="100%" alt="Society Lead" />
                </div>
            </div>
            <br>
            <span style="font-family: google-sans-bold;font-size: 1.3em;color: #666;"> {{ lead.first_name }} {{ lead.last_name }} </span><Br>
            <span style="font-size: 1.1em;color: #1a73e8;font-family: google-sans-bold;"> Web Development Lead </span>
        </div>
        {% endif %}

        {% if lead.designation == "ML Lead" %}
        <div class="teamMemberDiv">
            <div class="memberImage">
                <div class="memberImageInner">
                    <img src="{{lead.profile_picture.url}}" style="border-radius: 50%;" width="100%" alt="Society Lead" />
                </div>
            </div>
            <br>
            <span style="font-family: google-sans-bold;font-size: 1.3em;color: #666;"> {{ lead.first_name }} {{ lead.last_name }} </span><Br>
            <span style="font-size: 1.1em;color: #1a73e8;font-family: google-sans-bold;"> Machine Learning Lead </span>
        </div>
        {% endif %}

        {% if lead.designation == "Android Lead" %}
        <div class="teamMemberDiv">
            <div class="memberImage">
                <div class="memberImageInner">
                    <img src="{{lead.profile_picture.url}}" style="border-radius: 50%;" width="100%" alt="Society Lead" />
                </div>
            </div>
            <br>
            <span style="font-family: google-sans-bold;font-size: 1.3em;color: #666;"> {{ lead.first_name }} {{ lead.last_name }} </span><Br>
            <span style="font-size: 1.1em;color: #1a73e8;font-family: google-sans-bold;"> Society Lead </span>
        </div>
        {% endif %}

        {% if lead.designation == "Graphics Lead" %}
        <div class="teamMemberDiv">
            <div class="memberImage">
                <div class="memberImageInner">
                    <img src="{{lead.profile_picture.url}}" style="border-radius: 50%;" width="100%" alt="Society Lead" />
                </div>
            </div>
            <br>
            <span style="font-family: google-sans-bold;font-size: 1.3em;color: #666;"> {{ lead.first_name }} {{ lead.last_name }} </span><Br>
            <span style="font-size: 1.1em;color: #1a73e8;font-family: google-sans-bold;"> Society Lead </span>
        </div>
        {% endif %}

        {% if lead.designation == "Competitive Lead" %}
        <div class="teamMemberDiv">
            <div class="memberImage">
                <div class="memberImageInner">
                    <img src="{{lead.profile_picture.url}}" style="border-radius: 50%;" width="100%" alt="Society Lead" />
                </div>
            </div>
            <br>
            <span style="font-family: google-sans-bold;font-size: 1.3em;color: #666;"> {{ lead.first_name }} {{ lead.last_name }} </span><Br>
            <span style="font-size: 1.1em;color: #1a73e8;font-family: google-sans-bold;"> Society Lead </span>
        </div>
        {% endif %}

        {% if lead.designation == "Content Lead" %}
        <div class="teamMemberDiv">
            <div class="memberImage">
                <div class="memberImageInner">
                    <img src="{{lead.profile_picture.url}}" style="border-radius: 50%;" width="100%" alt="Society Lead" />
                </div>
            </div>
            <br>
            <span style="font-family: google-sans-bold;font-size: 1.3em;color: #666;"> {{ lead.first_name }} {{ lead.last_name }} </span><Br>
            <span style="font-size: 1.1em;color: #1a73e8;font-family: google-sans-bold;"> Society Lead </span>
        </div>
        {% endif %}

        {% if lead.designation == "Ethical Lead" %}
        <div class="teamMemberDiv">
            <div class="memberImage">
                <div class="memberImageInner">
                    <img src="{{lead.profile_picture.url}}" style="border-radius: 50%;" width="100%" alt="Society Lead" />
                </div>
            </div>
            <br>
            <span style="font-family: google-sans-bold;font-size: 1.3em;color: #666;"> {{ lead.first_name }} {{ lead.last_name }} </span><Br>
            <span style="font-size: 1.1em;color: #1a73e8;font-family: google-sans-bold;"> Society Lead </span>
        </div>
        {% endif %}

        {% endif %}
        {% endfor %}
    </div>


    <div class="spacing-3"> </div>
</div>
{% endblock %}