{% extends 'base.html' %}
{% load staticfiles %}


{% block header %}
<style>
/*For Nav Bar Active Element Displaying the current page*/
ul.nav_element span.nav-active4{
    background: rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.team-after{
    color: #000 !important;
}
div.nav-drop-down li.drop-active1{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
/*For Nav Bar Active Element Displaying the current page----------------*/
</style>

{% endblock %}


{% block content %}

<!--Spacing Block-->
<div class="spacing-7"></div>
<!--For Spacing after the navbar as it's position is fixed-->
<!--Spacing Block_______________________-->
<div class="container">
    This is the content
    content
    <div id="width"></div><button onclick="fun();">See</button>
    <script>
    const fun = () => {
        document.getElementById("width").innerText = window.innerWidth;
    }
    </script>
    content<Br>content<Br>content<Br>
        content<Br>content<Br>content<Br>content<Br>content<Br>
            content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>
                content<Br>content<Br>content<Br>content<Br>content<Br>
                    content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>
                        content<Br>content<Br>content<Br>content<Br>conr>content<Br>content<Br>content<Br>content<Br>
                            content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>content<Br>
            content<Br>content<Br>content<Br>content<Br>content<Br>
    <div class="spacing-3"> </div>
</div>
{% endblock %}