{% extends 'base.html' %}
{% load static %}

{% block header %}

<style>
    .page-header{
        --headerBack: url("{% static 'assets/background/profile-back.jpg' %}");
    }

    ul.nav_element span.nav-active4{
        background: rgba(0, 0, 0, 0.06);
        border-radius: 5px;
    }
    
    div.nav-drop-down li.drop-active5{
        background: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .register-btn{
        padding: 0.2em 1em;
        width: max-content;
        border: 0.1em solid #1a73e8;
        transition: 0.2s;
        background: #fff;
        box-sizing: border-box;
        font-family: google-sans-bold;
        color: #1a73e8;
        border-radius: 30px;
    }

    .register-btn:focus{
        outline: none;
    }

</style>

<link href="{% static 'css/user.css' %}" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    const imageReplace = (image) => {
        image.onerror = "";
        image.src = "{% static 'assets/logo/user-no-image.jpg' %}";
        return true;
    }
</script>

{% endblock %}


{% block content %}

<!--Spacing Block-->
<div class="spacing-7"></div>
<!--For Spacing after the navbar as it's position is fixed-->


<!---->
<div class="page-header">
    <div class="page-header-inner">
        {{ header }}
    </div>
</div>
<!---->


<!--Spacing Block_______________________-->
<div class="container">

    <div class="spacing-3"></div>

    <h3 style="color: #666;">**Note - <Br>
        We will keep your personal information safe. We will not be sharing your information with anyone. <br>
        This information is used only for registering into our events and building up your Resume which can be downloaded.
    </h3>

    <div class="spacing-3"></div>


    <div class="profile-grid">
        <div>
            <div class="left-pane">
                <div class="left-pane-inner">
                    <div>    
                        <ul>
                            <a href="{% url 'profile' %}"><li class="left-active1" id="left-active1"> <i class="fas fa-user-circle"></i> &nbsp;&nbsp;<div style="display: inline-block;">Profile</div></li></a>
                            <a href="{% url 'edit' %}"><li class="left-active2" id="left-active2"> <i class="fas fa-user-edit"></i> &nbsp;<div style="display: inline-block;">Edit User</div></li></a>
                            <a href="{% url 'changepassword' %}"><li class="left-active3" id="left-active3"> <i class="fas fa-lock"></i> &nbsp;&nbsp;<div style="display: inline-block;">Password</div></li></li></a>
                            {% if request.user.username in auth_user_list %}
                            <a href="{% url 'manageteam' %}"><li class="left-active6" id="left-active6"> <i class="fas fa-users-cog"></i> &nbsp;&nbsp;<div style="display: inline-block;">Manage Team</div></li></li></a>
                            <a href="{% url 'manageevent' %}"><li class="left-active7" id="left-active7"> <i class="fas fa-calendar-alt"></i> &nbsp;&nbsp;<div style="display: inline-block;">Manage Event</div></li></li></a>
                            {% else %}
                            <a style="height:0;padding: 0;margin:0;opacity: 0;"></a>
                            <a style="height:0;padding: 0;margin:0;opacity: 0;"></a>
                            {% endif %}
                            <a href="{% url 'resume' %}"><li class="left-active4" id="left-active4"> <i class="fas fa-file-alt"></i> &nbsp;&nbsp;<div style="display: inline-block;">Resume Builder</div></li></a>
                            <a href="{% url 'logout' %}"><li class="left-active5" id="left-active5"> <i class="fas fa-sign-out-alt"></i> &nbsp;&nbsp;<div style="display: inline-block;">Logout</div></li></a>
                        </ul>
                    </div>
                    <div id="left-pane-inner-dropdown">
                        <ul>
                            <a style="padding: 1em;" id="leftPaneToggleBtn">
                                <i class="fas fa-chevron-down" id="turnAround"></i>
                            </a>
                        </ul> 
                    </div>
                </div>
            </div>
            
            <div class="left-pane" id="desktop-event-container">
                <div class="left-pane-inner" style="grid-template-columns: 1fr;">
                    <h1 style="margin-bottom: 0.5em;">Upcoming <span style="color:#1a73e8">Events</span></h1>
                    <span style="color: #888;margin: 0 1em;font-weight: bold;">Register Yourself Now</span>

                    {% for upEvent in all_upEvents %}
                    <div style="margin: 1em;padding: 1em 0.1em;border-top: 0.1em solid #eee;border-bottom: 0.1em solid #eee;">
                        <div style="overflow: hidden;">
                            <img src="{{upEvent.event_pic}}" style="transform: translateY(40%);width: 90px;position: relative;top: -2.4em;float: left;" />
                            <div style="font-size: 1.3em;color: #1a73e8;"> {{upEvent.name}} </div>
                            <div style="margin-bottom: 0.3em;"> {{upEvent.date}} </div>
                            <div style="padding: 0.5em 0;"><a class="register-btn" href="{{upEvent.registration_link}}">Register</a></div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>

        </div>

        <div>
            <div class="right-pane">
                <div class="right-pane-inner">
                    {% if user.is_authenticated %}
                    {% block right_pane %}

                    {% endblock %}
                    {% else %}

                        <center>
                            <h1>Access Denied</h1>
                            <h3>You are not allowed to access this tab</h3>
                            <h4>Only authorised user can have access to this page.</h4>
                            <a href="{% url 'home' %}" style="color: #333;text-decoration: none;"><h3>Go Back</h3></a>
                        </center>

                    {% endif %}

                </div>
            </div>

            <div class="left-pane" style="margin-bottom: 1em; margin-top: 0." id="mobile-event-container">
                <div class="left-pane-inner" style="grid-template-columns: 1fr;">
                    <h1 style="margin-bottom: 0.5em;">Upcoming <span style="color:#1a73e8">Events</span></h1>
                    <span style="color: #888;margin: 0 1em;font-weight: bold;">Register Yourself Now</span>

                    {% for upEvent in all_upEvents %}
                    <div style="margin: 1em;padding: 1em 0.1em;border-top: 0.1em solid #eee;border-bottom: 0.1em solid #eee;">
                        <img src="{{upEvent.event_pic}}" style="width: 90px;margin-right: 0.5em;margin-bottom: 0.5em;float: left;" />
                        <div style="font-size: 1.3em;color: #1a73e8;margin-bottom: 0.3em;margin-left: 5em;"> {{upEvent.name}} </div>
                        <div style="margin-bottom: 0.3em;"> {{upEvent.date}} </div>
                        <div style="padding: 0.5em 0;"><a class="register-btn" href="{{upEvent.registration_link}}">Register</a></div>
                    </div>
                    {% endfor %}

                </div>
            </div>

        </div>

    </div>
</div>


{% endblock %}

{% block script %}

<script type="text/javascript" src="{% static 'js/user.js' %}">
</script>

{% endblock %}